@page "/agents"

@using Calc_ToDo_Api.Data
@inject db_connection db_connection
<h3>AgentJournal</h3>

<AgentsTableComponent SumAgentsLists="@db_connection.sumagents" AgentsLists="@db_connection.agents"></AgentsTableComponent>


@code {

}
